body {
    font-family: 'Open Sans', sans-serif;
    background-image: linear-gradient(to bottom, #af6666, #6fba93);
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    margin: 0;
    padding: 20px;
}

h2 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

#addNoteForm {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#noteText {
    padding: 10px;
    border: 2px solid #c700a6;
    border-radius: 5px 0 0 5px;
    width: 70%;
    font-size: 16px;
}

#addNoteForm button[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 0 5px 5px 0;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}

#addNoteForm button[type="submit"]:hover {
    background-color: #3e8e41;
}

.note {
    margin-bottom: 10px;
    padding: 10px;
    border: 2px solid #c700a6;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.note:hover {
    transform: scale(1.02);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.note input[type="checkbox"] {
    margin-right: 10px;
}

.note button {
    float: right;
    margin-top: -5px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
}

.note button:hover {
    background-color: #3e8e41;
}

.note.done {
    background-color: #fff;
    text-decoration: line-through;
}

.note.done button {
    background-color: #4CAF50;
}

.note.done button:hover {
    background-color: #4CAF50;
}

/* Анимация добавления заметки */
.note.added {
    animation: addNote 0.5s;
}

@keyframes addNote {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

/* Анимация удаления заметки */
.note.removed {
    animation: removeNote 0.5s forwards;
}

@keyframes removeNote {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(0.5);
    }
}
